# Dependencias
node_modules/

# Build output
dist/

# Logs
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# Variables de entorno
.env
.env.local
.env.production

# Editor
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
